@charset "UTF-8";
/*  index.css 
    Created by <Lee> on 2025-02-06.
    Copyright © 2025年 <Lee>. All rights reserved.
*/

:root {
	--dark-bg: #111111;
    --light-bg: #f2f2f2;
    --gold: #D4AF37;
	--light-text: #e0e0e0;
	--dark-text: #333333;
    --brown: #757575;
    --blue: #0078D7;
}

body {
    background-color: var(--light-bg);
}

.sky-banner {
    width: 100%;
    height: 1rem;
    background-color: #21222C;
}

/* 侧边工具栏 */
.side_tool_bar {
    display: flex;
    position: fixed;
    flex-direction: column;
    text-align: center;
    right: 0;
    bottom: 25rem;
    border-radius: 30px;
    z-index: 50000;
}

.side_tool_bar div {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
}

.side_tool_bar div:hover {
    cursor: pointer;
    background-color: var(--light-text);
}

.side_tool_bar div img {
    position: relative;
    object-fit: contain;
    width: 100%;
}

.side_tool_bar .lamp {
    transition: transform 0.3s ease;
}

.side_tool_bar .lamp:active, .side_tool_bar .cart:active, .side_tool_bar .scroll_top:active{
    transform: scale(0.9);
}


.top-container {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: var(--dark-bg);
}

.top-container.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.main_logo {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: var(--gold);
    left: 10%;
}

.top_guide_nav {
    display: flex;
    height: 130%;
    justify-content: center;
}

.header, .guitar, .audio, .food, .racket {
    /* font-family: 'Roboto', sans-serif; */
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-text);
    cursor: pointer;
    transition: color 0.3s ease;
}

.header:hover, .guitar:hover, .audio:hover, .food:hover, .racket:hover {
    text-decoration: underline;
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(360deg);
    }
}

/* 下拉菜单 */
.top_drop_menu {
    position: absolute;
    display: none;
    top: 6.25rem;
    width: 100%;
    height: auto;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 3px rgba(16, 16, 16, 0.3);
    z-index: 10;
}

.top_drop_menu:hover {
    display: flex;
}

.top-container .search-icon {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    right: 20%;
    cursor: pointer;
}

.top-container .search-icon img {
    position: absolute;
    width: 100%;
}

.top-container .search-icon #search {
    transition: 0.2s linear;
}

.top-container .search-icon #clear {
    display: none;
    transition: 0.2s linear;
}

.top-container .search-icon #search_input {
    position: absolute;
    display: none;
    right: 1.5rem;
    width: 0;
    height: 1.5rem;
    bottom: 0.05rem;
    border: none;
    font-size: 0.8rem;
    transition: width 0.2s linear;
}

.top-container .search-icon #search_input:focus {
    outline: none;
    border-bottom: var(--light-text) solid 1px;
}

.drop_left-content {
    position: relative;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    row-gap: 1.1rem;
    padding-left: 10%;
    text-align: left;
    color: var(--dark-text);
}

.drop_right-content {
    position: relative;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    row-gap: 1.1rem;
    padding-left: 20%;
    text-align: left;
    color: var(--dark-text);
}

.drop_content #menu_title {
    /* 左对齐 */
    cursor: default;
}

.drop_content a, .drop_content span {
    position: relative;
    padding-left: 1.5rem;
    cursor: pointer;
    transform: padding-left 0.3s ease, color 0.3s ease;
}

.drop_content a::before {
    content: "·";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-55%);
    font-size: 4rem;
    color: transparent;
    transition: color 0.3s ease;
}

.drop_content a:hover::before {
    color: var(--dark-text);
}

.top_drop_menu .img-container {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}

.top_drop_menu .img-container span {
    position: relative;
    font-size: 12px;
    cursor: default;

}

.top_drop_menu .img-container img {
    min-width: 30%;
    max-width: 70%;
    max-height: 50rem;
    padding: 2.9%;
    margin-bottom: 1.2rem;
    cursor: pointer;
}

/* 登录注册 */
.login-container {
    display: flex;
    position: absolute;
    right: 12%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container img {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}

.login_mes-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    font-size: 1rem;
    font-size: 0.8rem;
}

.login_mes-container a, .login_mes-container span {
    color: var(--light-text);
    transition: color 0.3s ease;
}


/* 主要内容 */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 轮播图 */
.carousel-container {
    width: 100%;
    max-width: 86rem;  /* 1376px */
    margin: 2rem auto;
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 39.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: white;
    cursor: pointer;
}

/* 导航按钮 */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.carousel-button:hover {
    background: rgba(0,0,0,0.8);
}

.button-prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.button-next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

/* 指示器 */
.carousel-indicators {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
}

.carousel-container .carousel-track .carousel-item img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
    transition: 0.3s;
}

.indicator.active {
    background: rgba(255,255,255,1);
    transform: scale(1.2);
}

/* 新品推荐 */
.recommend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 86rem;
    height: auto;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.recommend_title {
    font-size: 2.8rem;
    color: var(--dark-text);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#title {
    font-size: 2rem;
    color: var(--dark-text);
}

.recommend_items {
    display: flex;
    /* 每个元素之间的间隔和容器的边距相同 */
    justify-content: space-between;
    align-items: center;
}

.recommend_items span {
    font-size: 1rem;
    color: var(--dark-text);
}

.recommend_items .item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24%;
    height: 30rem;
}

.recommend_items .item .msg {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr;
  
    top: 0;
    align-items: center;
    /* 两边分 */
    justify-content: space-between;
}

.recommend_items .item .msg span {
    position: absolute;
    color: var(--brown);
    width: 5rem;
    cursor:default;
}

.recommend_items .item .msg #s {
    right: 3rem;
}

.recommend_items .item .msg #buy {
    left: 3rem;
}

.recommend_items .item .good_img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82%;
}

.recommend_items .item .good_img-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.recommend_items .item .good_img {
    object-fit: cover;
    width: 100%;
    max-width: 95%;
    max-height: 100%;
    height: auto;
}

.recommend_items .item .info {
    padding-top: 5rem;
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    color: var(--dark-text);
    padding-top: 3px;
    row-gap: 0.4rem;
    cursor: default;
}

.recommend-container .change_btn {
    position: absolute;
    color: var(--brown);
    text-align: center;
    width: 5rem;
    height: 1.5rem;
    right: 12%;
    margin-top: 1.2rem;
    border: var(--brown) solid 1px;
    border-radius: 5px;
}

.recommend-container .change_btn:hover {
    background-color: var(--dark-bg);
    color: var(--light-text);
    cursor: pointer;
}

.recommend-container .recommend_items .item .bingo-icon {
    position: absolute;
    display: none;
    width: 1.3rem;
    height: 1.3rem;
    top: -7px;
    right: 2.9rem;
    cursor: pointer;
    transition: display 0.3s linear;
}

/* 主题分区 */
.theme-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    
    width: 100rem;
    /* 居中 */
    justify-items: center;
    align-items: center;
    /* 间距 */
}

.theme-container img{
    cursor: pointer;
    box-sizing: border-box;
    /* padding: 1rem; */
    width: 50rem;
    height: auto;
}

.theme_title {
    font-size: 2.8rem;
    color: var(--dark-text);
    margin-bottom: 1rem;
}

.theme-container img:hover {
    /* 模糊滤镜 */
    filter: blur(7px);
    transition: 0.3s;   
}


.theme-container span {
    position: absolute;
    font-size: 3rem;
    color: var(--light-text);
    z-index: 20;
}

.theme-container #guitar {
    top: 14rem;
    left: 22rem;
    display: none;
}

.theme-container #audio {
    top: 14rem;
    right: 22rem;
    display: none;
}

.theme-container #food {
    bottom: 14rem;
    left: 22rem;
    display: none;
}

.theme-container #racket {
    bottom: 14rem;
    right: 18rem;
    display: none;
}

.bottom-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-bg);
    width: 100%;
    height: 45rem;
    border-top: #757575 solid 1px;
    margin-top: 5rem;
}

.bottom-container .logo {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    cursor: default;
    margin-bottom: 1rem;
    color: var(--gold);
}

.bottom-container .help_main-container {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 50%;
    bottom: 0;
    transform: translateY(-40%);
    transition: transform 0.4s ease;
}   

.bottom-container .help_main-container #items {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.bottom-container .help_main-container a {
    margin: 1.3rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--dark-text);
}

.bottom-container .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.bottom-container .quick-msg {
    font-size: 1.5rem;
    color: var(--dark-text);
}

.bottom-container .input-container input {
    /* 只有下边框 */
    border: none;
    border-bottom: 1px solid #757575;
    width: 80%;
    padding: 0.2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
    color: var(--dark-text);
    background-color: inherit;
}

.bottom-container .input-container input:focus {
    outline: none;
}

.bottom-container .input-container span {
    font-size: 0.8rem;
}

.bottom-container .input-container button {
    display: none;
    background-color: var(--brown);
    color: var(--light-bg);
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    width: 85%;
    height: 3rem;
    font-size: 0.8rem;
    transform: translateY(-10%);
    transition: transform 0.3s ease;
}

.bottom-container .input-container #msg {
    display: none;
    transform: translateY(-10%);
    transition: transform 0.3s ease;
}

.bottom-container .copyright_msg-container {
    position: absolute;
    bottom: 1.5rem;
}

.bottom-container .copyright_msg-container span {
    cursor: pointer;
}


.bottom-container .copyright {
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    color: gray;
}

.more_btn-container {
    width: 110rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more_btn-container:hover {
    background-color: var(--light-text);
}

.good_main-container {
	display: flex;
	flex-direction: row;
	width: 100rem;
}

.good_main-container .good-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}

.good_main-container .good-content .item {
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	width: 90%;
	height: auto;
	margin: 1rem;
    cursor: pointer;
}

.good_main-container .good-content .item .images {
	width: 100%;
	height: auto;
}

.good_main-container .good-content .item .images img {
	width: 100%;
	height: auto;
    border-bottom: var(--dark-bg) solid 2px;
}

.good_main-container .good-content .item:hover {
	box-shadow: 0 0 10px #ccc;
	transition: 0.3s;
	transform: scale(1.02);
}

.good_main-container .good-content .content {
	text-align: center;
}

.good_main-container .good-content .content > p, .good_main-container .good-content .content > span {
	font-size: 1rem;
}

.good_main-container .good-content .item .add-btn {
    position: absolute;
    display: none;
    width: 2rem;
    height: 2rem;
    bottom: 0;
    right: 0.8rem;
    font-size: 1.8rem;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    color: var(--dark-text);
    z-index: 3;
}

.good_main-container .good-content .item .add-btn:hover {
    color: var(--brown);
    cursor: pointer;
}

.good_main-container .good-content .item:hover .add-btn {
    display: flex;
}

.good_main-container .good-content .item .bingo-icon {
    display: flex;
}

