:root {
	--dark-bg: #111111;
    --light-bg: #f2f2f2;
    --light-brown: rgba(255, 255, 255, 0.7);
    --gold: #D4AF37;
	--light-text: #e0e0e0;
	--dark-text: #333333;
    --brown: #757575;
    --blue: #0078D7;
}

/* .series-container {
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: var(--gold);
}

.series-container > div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--light-bg);
    cursor: pointer;
}

.series-container > div > img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.series-container > div:hover img {
    filter: blur(7px);
    transition: 0.3s;
}

.series-container > div:hover span {
    z-index: 2;
    display: block;
    cursor: pointer;
}

.series-container > div > span {
    position: absolute;
    display: none;
    font-size: 2rem;
    color: var(--dark-text);
    background-color: #ffffff80;
    border-radius: 10px;
    width: 15rem;
} */

.series-container {
    position: relative;
    min-width: 90rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 900px;
}

.series-container .box {
    position: relative;
    width: 20%;
    height: auto;
    transition: 0.3s;
    overflow: hidden;
    margin: 2rem;
    transform: rotateY(0);
    transition-delay: .1s;
}

.series-container .box .images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.series-container .box .images img {
    width: 100%;
}

.series-container:hover .box {
    transform: rotateY(20deg);
}

.series-container .box:hover {
    transform: rotateY(0deg) scale(1.1);
    box-shadow: 0 25px 40px rgba(0,0,0,0.7);
    z-index: 1;
    cursor: pointer;
}

.series-container .box:hover~.box {
    transform: rotateY(-20deg);
}

.series-container .box .content {
    position: absolute;
    top: 5%;
    width: 90%;
    height: 100%;
    z-index: 999;
    padding: 15px;
}

.series-container .box .content h2 {
    color: var(--dark-text);
    transition: 0.3s;
    font-size: 2rem;
    transform: translateY(-8rem);
}

.series-container .box:hover .content h2 {
    transform: translateY(-3.5rem);
}

.series-container .box .content p {
    color: var(--dark-text);
    transition: 0.3s;
    font-size: 1rem;
    transform: translateY(30rem);
    background-color: var(--light-brown);
}

.series-container .box:hover .content p {
    transform: translateY(20rem);
}

.good_main-container {
	display: flex;
	flex-direction: row;
	width: 100rem;
}

.good_main-container .good-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}

.good_main-container .good-content .item {
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	width: 90%;
	height: auto;
	margin: 1rem;
    cursor: pointer;
}

.good_main-container .good-content .item .images {
	width: 100%;
	height: auto;
}

.good_main-container .good-content .item .images img {
	width: 100%;
	height: auto;
    border-bottom: var(--dark-bg) solid 2px;
}

.good_main-container .good-content .item:hover {
	box-shadow: 0 0 10px #ccc;
	transition: 0.3s;
	transform: scale(1.02);
}

.good_main-container .good-content .content {
	text-align: center;
}

.good_main-container .good-content .content > p, .good_main-container .good-content .content > span {
	font-size: 1rem;
}

